/* 
  Table of contents:
    1. Global
    2. Tipography
    3. Layout
      3.1 Attribution

    4. Components
      4.1 Card
*/

/* ----------------
  1. Global
   ---------------- */
:root {
  /* 
    Primary colors */
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);

  /* 
    Neutral colors */
  --white: hsl(0, 0%, 100%);
  --transparent-white: hsla(0, 0%, 100%, 0.6);
  --slightly-transparent-white: hsla(0, 0%, 100%, 0.75);

  /* 
    Typography */
  --font-inter: "Inter", sans-serif;
  --font-lexend-deca: "Lexend Deca", sans-serif;

  /* 
    General */
  --border-radius: 0.5rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: var(--font-inter);
  color: var(--white);
  background-color: var(--very-dark-blue);
}

/* ---------------- 3. Layout  ---------------- */
.container {
  margin: 0rem;
}
/* ----------------
  3.1. Attribution
   ---------------- */
.attribution {
  font-size: 1rem;
  text-align: center;
}
.attribution a {
  text-decoration: none;
  color: hsl(228, 45%, 44%);
  transition: letter-spacing 0.3s;
}

.attribution a:hover {
  letter-spacing: 2px;
}

/* ---------------- 4. Components  ---------------- */
/* ----------------
  4.1. Card
   ---------------- */
.card {
  background-color: var(--dark-desaturated-blue);
  border-radius: var(--border-radius);
  margin: 5rem 2rem;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 14rem auto;
  grid-template-areas: "image" "body";
}

.card .card__img {
  grid-area: image;
  position: relative;
}

.card__img::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(276.4, 91%, 26.3%, 0.53);
}

.card__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.card .card__body {
  grid-area: body;
  padding: 1.5rem 1rem;
}

.card__heading {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;

  margin-bottom: 1rem;
}

.card__heading span {
  color: var(--soft-violet);
}

.card__body p {
  font-size: 1rem;
  color: var(--slightly-transparent-white);
  text-align: center;
  line-height: 1.5rem;
  margin: 0 0 2rem 0;
}

.card__stats {
  color: var(--slightly-transparent-white);
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;

  font-size: 0.8rem;
  letter-spacing: 1px;
}

.card__stats span {
  color: var(--white);
  font-size: 1.4rem;
  font-family: var(--font-lexend-deca);
  letter-spacing: 0px;
}

.stats__item {
  text-transform: uppercase;
}

.stats__item p {
  font-size: 0.8rem;
}
